/* General Styles */
.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1300px; /* Adjust the maximum width of the container */
}

.section-container {
  margin-top: 40px;
  background-color: transparent;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid white;
}

textarea {
  width: 100%;
  height: 300px;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 15px;
  color: white;
  font-size: 25px;
  padding: 10px;
  resize: vertical; /* Allow vertical resizing of textarea */
}

textarea:focus {
  outline: none;
}

/* Button Styles */
.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.btn-group {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
  justify-content: center; /* Center-align buttons horizontally */
  margin-top: 20px; /* Add top margin to separate from textarea */
}

.btn {
  margin: 5px; /* Add margin around each button */
}

.btn {
  background-color: #007bff;
  border-color: #007bff;
  color: rgb(1, 1, 28);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: rgb(1, 1, 28);
  color: white;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-convert {
  width: 100%; /* Full width for the convert button */
  max-width: 325px; /* Limit the width of the convert button */
}

/* Audio Player Styles */
.audio-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(1, 1, 28);
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-container {
  color: white;
  /* display: flex;
  flex-direction: column;
} */
}

.audio-button {
  font-size: 45px;
  border: none;
  background-color: transparent;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.audio-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.audio-button:hover {
  transform: scale(1.1);
}

.icon-btn {
  color: #5095f8;
}

/* Progress Bar Styles */
.progress-container {
  background-color: #ccc;
  width: 60%;
  height: 2.5px;
  margin: 0 0 10px;
}

.progress-bar {
  background-color: #007bff;
  height: 100%;
  width: 0;
}
